body{
  background-color: white;
  font-family: Helvetica, sans-serif;
  color: rgb(9, 0, 0);
  font-size: 1em;
  line-height: 1.5;
  padding: auto;
  margin: auto;
  
}
nav{
  background-color:#bbc454;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  border-radius: 0 0 1.5em 1.5em;
}
nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}
nav ul li{
  float: left;
}
nav ul li a{
  display: block;
  padding: 1.00em 0.9em;
  color: #0b0d08;
}
ul li {
  padding: auto;
  margin: auto;
  list-style-type: none;
  text-align: left;
}

img{
  height: 400px;
  width: 500px;
	margin: 2.5em auto;
	display: block;
  box-sizing: border-box;
}
iframe{
	height: 300px;
  width: 400px;
	margin: 2.5em auto;
	display: block;
  box-sizing: border-box;
}
h1, h2 {
  text-align: left;
  top: auto;
  width: auto; 
  position: relative;


}
h3, h4 {
  text-align: left;
  top: auto;
  width: auto;
  position: relative;
 
  
}
h1{
	background-color: #156e94;
}
p,ul,ol,li{
	text-align: center;
  top: auto;
  width: auto;
  position: relative;
}
section{
  box-sizing: border-box;
  width: 20%;
  margin: 3em auto;
}
footer p a{
  clear: none;
  background-color: #f2f5f5;
}
#map{
  position: absolute;
  width: 50%;
  height: 500px;
  right: 25%;
  border: solid black 5px;
  border-radius: 10px;
}
div.container {
  text-align: left;
}
.resume body{
text-align: center;
position: relative;

}
.myUL {
  text-align: center;
}
#title{
  text-align: center;
}

.place{
  text-align: center;
}